body, html {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}

:root {
  --article-width: 50rem;
  --global-nav-height: 48px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #121212;
    --text-color: #f2f2f2;
    --nav-top-bg: #242424;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: white;
    --text-color: black;
    --nav-top-bg: #f2f2f2;
  }
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

nav#nav-global {
  background-color: var(--nav-top-bg);
  height: var(--global-nav-height);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  input#global-search {
    position: absolute;
    left: calc(50vw - var(--article-width) / 2);
    width: var(--article-width);
    top: 8px;
    height: calc(var(--global-nav-height) - 16px);
    border-radius: 5px;
    background: rgba(0,0,0,0.25);
    color: var(--text-color);
    border-width: 0px;
    padding: 0 1rem;
  }
  .avatar {
    font-size: 1.5rem;
    vertical-align: middle;
    position: absolute;
    right: 16px;
    top: 0px;
    line-height: var(--global-nav-height);
  }
}

button.menu-button {
  color: var(--text-color);
  font-size: calc(var(--global-nav-height) / 2);
  line-height: calc(var(--global-nav-height) / 2);
  margin: calc(var(--global-nav-height) / 4);
  background: none;
  border: none;
  cursor: pointer;
}
button.menu-button:hover {
  opacity: 0.7;
}

nav#nav-main {
  display: none;
  position: fixed;
  top: calc(var(--global-nav-height) + 1rem);
  left: 1rem;
}

article#main-content {
  width: var(--article-width);
  margin: calc(var(--global-nav-height) + 16px) auto 0 auto;
}