@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;600&display=swap");

body {
  background-color: #123;
  color: #ccc;
  font-family: "Work Sans", sans-serif;
}
article {
  max-width: 40em;
  margin: 0 auto;
  padding: 5em;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.15);
}
article aside {
  float: right;
  border: 1px solid #234;
  margin: 0 0 20px 20px;
  padding: 20px;
}
article aside img {
  max-width: 12rem;
}
article a {
  color: #136ac1;
  text-decoration: none;
}

nav {
  position: fixed;
  max-width: calc(50vw - 28rem);
  left: 1rem;
  top: 1rem;
  font-weight: 300;
}
nav a {
  text-decoration: none;
  box-sizing: border-box;
  color: inherit;
  display: inline-block;
  padding: 0.15rem 1rem;
  width: 100%;
  position: relative;
}
nav a:hover {
  /* color: #7070b7; */
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  list-style: none;
}
nav ul ul {
  display: none;
  position: absolute;
  background-color: #123;
  /* padding: 10px; */
  left: 100%;
  top: 0;
  height: 100%;
  min-width: 100%;
  overflow: auto;
}
nav li {
  /* position: relative; */
}
nav li:hover > ul {
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
}
nav li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
nav li li {
  width: 100%;
  white-space: nowrap;
}
nav li[data-has-children="true"] > a::after {
  content: ">";
  position: absolute;
  top: 5px;
  right: 2px;
  opacity: 0.5;
  font-size: 70%;
}

#global-nav {
  position: fixed;
  max-width: calc(50vw - 28rem);
  left: 1rem;
  bottom: 1rem;
  font-weight: 300;
}
